body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}
header {
  grid-column: span 12;
  background-color: #EC7A22;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
header a:hover{
  color: black;
}
h1{
  font-family: 'New Tegomin', serif;
}
h1 a{
  text-decoration: none;
  color: white;
}
nav{
  grid-column: span 12;

}
nav ul{
  list-style: none;
  margin: 0;
padding: 0;
}
nav li{
  margin-bottom: 2px;
float: left;
margin-right: 24px;
margin-top: 24px;
}
nav li a{
  display: block;
  background-color: #EC7A22;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 24px;
    padding-left: 20px;
    padding-right: 116px;
    transition: background-color .5s, color 2s;
}
nav li a:hover{
  background-color: orange;
  color: grey;
}
#leftimage{
  grid-column: span 3;
}
#centerimage{
  grid-column: span 4;
}
#rightimage{
  grid-column: span 3;
}
#rightimage2{
  grid-column: span 3;
}
#bigimage{
  grid-column: span 3;
  width: 250px;
  float: right;
}
#yodaimage{
  grid-column: span 3;
  width: 570px;
  float: right;
}
#timeimage{
  grid-column: span 3;
  width: 570px;
  float: right;
}
main{
  grid-column: span 12;
  display: grid;
    grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 24px;
      font-family: 'New Tegomin', serif;
}
section{
  grid-column: span 6;
padding-left: 300px;

}
section h2{
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}
.roundedbox {
  padding: 10px;
  border: 3px solid red;
  background-color: #ccc;
  border-radius: 24px;
}
.roundedbox2 {
  padding: 10px;
  border: 3px solid red;
  background-color: #ccc;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 10px;
}
.circle {
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 3px solid green;
  background-color: red;
  color: white;
  border-radius: 500px;
}
.dropshadowbox {
  padding: 10px;
  border: 3px solid 0;
  background-color: #ccc;
  box-shadow: 10px 10px 10px #666; /* x, y, blur, color */
}

footer{
  grid-column: span 12;
    background-color: #EC7A22;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}
footer a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: color 1s;
}
footer a:hover{
  color: grey;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin-left: 250px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
